$mainCls: "tt";
$scrollBarColor: #8ce6c8;
$scrollBarHoverColor: #17e9a3;

$mainTextColor: "#000";
$mainFontSize: 12px;
$mainFontweight: 400;

$whiteColor: #fff;
$blackColor: #000;
$greenColor: #5BE9B9;
$purpleColor: #6E07F3;
$blueColor: #407BFF;
$lightBlueColor: #AEC7FF;

$xxxLaggerFontSize: 64px;
$xxLaggerFontSize: 48px;
$xLaggerFontSize: 32px;
$laggerFontSize: 24px;
$mediumFontSize: 16px;
$smallFontSize: 8px;
