&-intro_am {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  padding: 0 20px;

  &-header {
    font-size: #{$xxxLaggerFontSize};
    font-weight: 600;
  }

  &-description {
    font-size: #{$laggerFontSize};
    font-weight: 500;
  }

  &-img {
    margin-top: 50px;
  }
}

&-content_am {
  display: flex;
  flex-direction: column;
  color: #{$blackColor};
}

&-quote {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 20px;
  background-color: #{$purpleColor};
  color: #{$whiteColor};

  .quote {
    font-size: #{$xxLaggerFontSize};
    font-weight: 500;
  }

  .author {
    font-size: #{$xLaggerFontSize};
    font-weight: 400;
    margin-bottom: var(--marginQuote);
  }
}

&-my_skill {

  &-container {
    display: flex;
    padding: 20px 20px 50px 20px;
  }

  &-content {
    margin: var(--marginTopSkill) auto var(--marginBottomSkill) auto;
    border-radius: 20px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    background-color: #{$whiteColor};
    display: flex;
  }

  &-item {
    flex: 1 1 400px;
    height: auto;
    padding: 20px 10px;
    border-right: 1px solid #E6ECF8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    text-align: center;
    font-size: #{$mediumFontSize};
    font-weight: 500;
  }

  &-header_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    h5 {
      font-size: #{$xLaggerFontSize};
    }
  }

  &-content_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  &-header_content {
    color: #{$purpleColor};
  }
}

&-space_am {
  background-color: #D9D9D9;
  height: 30px;
}

&-am_item {
  font-size: #{$laggerFontSize};
  font-weight: 500;
  margin: 50px 150px;

  h3 {
    font-size: #{$xxxLaggerFontSize};
    font-weight: 600;
  }
}

&-experiences {

  &-table {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
  }

  &-table_header {
    display: flex;
    gap: 10px;
    color: #727272;
    font-size: 40px;
    font-weight: 600;
  }

  &-header_item {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 8px;
  }

  &-wrap_table_data {
    cursor: pointer;
    border-radius: 20px;
    padding: 8px;
  }

  &-wrap_table_data:hover {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }

  &-table_data {
    display: flex;
    gap: 10px;

    .icon {
      padding: 8px;
      justify-content: center;
      align-items: center;
    }
  }

  &-data_item {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: #{$laggerFontSize};
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 8px 8px 8px 24px;

    .main {

      &-responsive {
        display: none;
      }
    }

    .extra {
      color: #727272;
      font-size: 20px;

      &-time_responsive {
        display: none;
      }

      &-company_responsive {
        display: none;
      }

      &-position_responsive {
        display: none;
      }
    }
  }

  &-data_detail {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    cursor: auto;
    margin-top: 20px;

    &-title {
      gap: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      img {
        width: 30px;
      }

      p {
        font-size: #{$laggerFontSize};
        font-weight: 600;
      }
    }

    ul {
      list-style-type: disc;
      margin-left: 30px;
      margin-bottom: unset;
      font-size: #{$mediumFontSize};
    }
  }

  ._ {
    flex-basis: 10%;
  }

  ._time {
    flex-basis: 25%;
  }

  ._jobTitle {
    flex-basis: 25%;
  }

  ._companyName {
    flex-basis: 40%;
  }
}

&-projects {

  &-data_detail {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    cursor: auto;
    margin: 20px 0 0 20px;

    &-item_title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      img {
        width: 30px;
      }

      p {
        font-size: #{$laggerFontSize};
        font-weight: 600;
      }
    }

    &-item_content {
      font-size: #{$mediumFontSize};
      text-indent: 30px;
    }
  }

  ._ {
    flex-basis: 10%;
  }

  ._projectTitle {
    flex-basis: 65%;
  }

  ._position {
    flex-basis: 25%;
  }
}

@media only screen and (max-width: 1250px) {

  &-am_item {
    margin: 50px 50px;
  }

}

@media only screen and (max-width: 950px) {

  &-am_item {
    margin: 30px 30px;

    h3 {
      font-size: #{$xxLaggerFontSize};
    }
  }

  &-experiences {

    &-table_header {
      font-size: #{$xLaggerFontSize};
    }

    &-data_item {
      font-size: 20px;

      .extra {
        font-size: 16px;
      }
    }
  }

}

@media only screen and (max-width: 850px) {

  &-my_skill {

    &-content {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      max-width: 500px;
      width: 100%;
    }

    &-item {
      flex: unset;
      width: 100%;
      border: unset;

      background-image: repeating-linear-gradient(90deg, #727272, #727272 20px, transparent 20px, transparent 30px);
      background-position: 0 100%;
      background-size: 100% 3px;
      background-repeat: no-repeat;
    }
  }

  &-experiences {

    ._time {
      display: none;
    }

    ._jobTitle {
      flex-basis: 40%;

      .extra {
        display: none;

        &-time_responsive {
          display: block !important;
        }
      }
    }

    ._companyName {
      flex-basis: 60%;
    }
  }

}

@media only screen and (max-width: 750px) {

  &-intro_am {

    &-header {
      font-size: #{$xxLaggerFontSize};
    }

    &-description {
      font-size: #{$mediumFontSize};
    }

    &-img {
      width: 70%;
      margin-top: 20px;
    }
  }

  &-quote {
    padding: 20px;

    .quote {
      font-size: #{$xLaggerFontSize};
    }

    .author {
      font-size: #{$laggerFontSize};
    }
  }

}

@media only screen and (max-width: 650px) {

  &-my_skill {

    &-content {
      margin-bottom: 50px;
    }
  }

  &-experiences {

    &-table_header {
      display: none;
    }

    ._ {
      flex-basis: 20%;
    }

    ._jobTitle {
      flex-basis: 80%;

      .extra {

        &-company_responsive {
          color: #{$blackColor};
          display: block !important;
        }
      }
    }

    ._companyName {
      display: none;
    }
  }

  &-projects {

    ._ {
      flex-basis: 20%;
    }

    ._projectTitle {
      flex-basis: 80%;

      .extra {

        &-position_responsive {
          color: #{$blackColor};
          display: block !important;
        }
      }
    }

    ._position {
      display: none;
    }

  }

}

@media only screen and (max-width: 550px) {

  &-projects {

    ._projectTitle {

      .main {
        display: none;

        &-responsive {
          color: #{$blackColor};
          display: block !important;
        }
      }
    }

  }


}

@media only screen and (max-width: 450px) {

  &-intro_am {

    &-header {
      font-size: #{$xLaggerFontSize};
    }

    &-img {
      width: 80%;
    }
  }

  &-quote {
    gap: 10px;

    .quote {
      font-size: #{$laggerFontSize};
    }

    .author {
      font-size: #{$mediumFontSize};
    }
  }

  &-my_skill {

    &-content {
      margin-bottom: 20px;
    }
  }

}
